@charset "euc-jp";
/*common*/

#fc2_qr_code_box{
display:none;
}

body{
background:#feffca;
}

h1{
padding:21px;
}

#bottom_out{
width:100%;
}


#header,#navi_cont,#cont,#bottom_cont{
margin:0 auto;
width:993px;
}
#header,#navi_cont,#cont{
text-align:left;
}
#navi_cont{
background:url("../img/common/navi_back2.gif") top left no-repeat;
height:45px
}


#cont{
background:url("../img/common/page_back.gif") top left repeat-y;
padding:21px 0 0;
}

.common_page{

}
.common_page h2{
margin:0 21px 21px;
font-weight:bold;
font-size:1.4em;
}
#form1 span,#form2 span{
display:block;
display:none;
}

#form1 span a,#form2 span a{
display:block;
text-align:right;
}

.common_page h3,.common_page p,.common_page ul,#form1 span,#form2 span{
margin:0 34px 13px;
padding:3px 8px;
}
.common_page li{
padding:8px;
border-bottom:dotted 1px #666
}

.common_page p{
border-bottom:dotted 1px #000;
padding-bottom:13px;
}

.common_page p,.common_page ul,.common_page td{
font-size:1.4em;
line-height:1.5em;
}



.common_page table{
margin:0 31px;
border-bottom:solid 1px #ccc;
border-right:solid 1px #ccc;
}
.common_page td{
padding:5px 13px;
border-top:solid 1px #ccc;
border-left:solid 1px #ccc;
}

.center_table{
margin:0 34px 21px;
padding:0 0 13px;
border-bottom:dotted 1px #333;
}


#page1,#page2,#page3,#page4,#page5{
padding-bottom:21px;
border-bottom:solid 1px #000;
margin:0 34px 21px;
}




#bottom_cont{
padding:13px 0 34px
}
address{
font-size:1.2em;
}


/*-------link-------*/

* a:link,* a:visited{
text-decoration: underline;
}
* a:hover,* a:active{
text-decoration: none;
}


.both{
clear:both;
height:0;
width:100%;
display:block;
visibility:hidden
}

.back_alpha{
background:#000000;
filter:alpha(opacity=70);   /*ie用設定 widthを指定しないと効かない*/
-moz-opacity:0.7;           /*firefox用設定*/
opacity:0.7;                /*sagari用設定*/
}







